<div class="row mt-4">
  <div class="col-md-6">
    <div class="row" style="height: 450px;">
      <div class="col-md-12 my-auto side-header">
        <img src="/assets/img/add_user.png" class="mx-auto d-block">
        <h1>Changing Password</h1>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <form [formGroup]="formChangeModel" autocomplete="off" (submit)="onSubmit()">
      <div class="form-group required">
        <label>Old Password</label>
        <input class="form-control" formControlName="OldPassword">
        <label class="text-danger" *ngIf="formChangeModel.get('OldPassword').touched && formChangeModel.get('OldPassword').errors?.required">This field is mandatory.</label>
      </div>
     
      <div formGroupName="Passwords">
        <div class="form-group required">
          <label>Password</label>
          <input type="password" class="form-control" formControlName="Password">
          <label class="text-danger" *ngIf="formChangeModel.get('Passwords.Password').touched && formChangeModel.get('Passwords.Password').errors?.required">This field is mandatory.</label>
          <label class="text-danger" *ngIf="formChangeModel.get('Passwords.Password').touched && formChangeModel.get('Passwords.Password').errors?.minlength">Minimum 4 characters required.</label>
        </div>
        <div class="form-group required">
          <label>Confirm Password</label>
          <input type="password" class="form-control" formControlName="ConfirmPassword">
          <label class="text-danger" *ngIf="formChangeModel.get('Passwords.ConfirmPassword').touched && formChangeModel.get('Passwords.ConfirmPassword').errors?.required">This field is mandatory.</label>
          <label class="text-danger" *ngIf="formChangeModel.get('Passwords.ConfirmPassword').touched && formChangeModel.get('Passwords.ConfirmPassword').errors?.passwordMismatch">Confirm Password does not match.</label>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col-md-8 offset-md-2">
          <button type="submit" class="btn btn-lg btn-block" [disabled]="!formChangeModel.valid">Change Password</button>
        </div>
      </div>
    </form>
  </div>
</div>
