<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" routerLink="/">MyApp</a>
    <input class="dark-bg form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
      <li class="nav-item text-nowrap">
        <a class="nav-link" (click)="onSignOut()">Sign out</a>
      </li>
    </ul>
  </nav>

  <div class="container-fluid mt-5">
    <div class="row">
      <nav class="col-md-2 d-none d-md-block bg-light sidebar" [class.mat-elevation-z2]="!isActive">
        <div class="sidebar-sticky">
          <ul class="nav flex-column">
            <li class="nav-item">
              <a class="nav-link active" routerLink="dashboard">
                <i class="fa fa-home"></i>
                Dashboard <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="manage/orders">
                <i class="fa fa-file"></i>
                Orders
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="manage">
                <i class="fa fa-cogs" aria-hidden="true"></i>
                Manages
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-users"></i>
                Customers
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-bar-chart" aria-hidden="true"></i>
                Reports
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                <i class="fa fa-book" aria-hidden="true"></i>
                Integrations
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>Saved reports</span>
            <a class="d-flex align-items-center text-muted" href="#">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="fa fa-files-o" aria-hidden="true"></i>
                Current month
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="fa fa-files-o" aria-hidden="true"></i>
                Last quarter
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="fa fa-files-o" aria-hidden="true"></i>
                Social engagement
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">
                  <i class="fa fa-files-o" aria-hidden="true"></i>
                Year-end sale
              </a>
            </li>
          </ul>
        </div>
      </nav>
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
          <router-outlet></router-outlet>
</main>
</div>
</div>

