<div class="row">
    <div class="col-md-3 col-sm-4 mt-2">
        <a mat-fab color="primary" class="btn-manages" routerLink="product/list">
            <a class="card-body text-center">Product</a>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 mt-2">
        <a mat-fab color="primary" class="btn-manages" routerLink="category/list">
            <a class="card-body text-center">Category</a>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 mt-2">
        <a mat-fab color="primary" class="btn-manages" routerLink="brand/list">
            <a class="card-body text-center">Brand</a>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 mt-2">
        <a mat-fab color="primary" class="btn-manages" routerLink="color/list">
            <a class="card-body text-center">Color</a>
        </a>
    </div>
    <div class="col-md-3 col-sm-4 mt-2">
        <a mat-fab color="primary" class="btn-manages"  routerLink="list/product/images">
            <a class="card-body text-center">Images</a>
        </a>
    </div>
</div>

